@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-bolditalic.woff2") format("woff2"), url("../fonts/gilroy-bolditalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-blackitalic.woff2") format("woff2"), url("../fonts/gilroy-blackitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-heavy.woff2") format("woff2"), url("../fonts/gilroy-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-lightitalic.woff2") format("woff2"), url("../fonts/gilroy-lightitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-mediumitalic.woff2") format("woff2"), url("../fonts/gilroy-mediumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-extrabolditalic.woff2") format("woff2"), url("../fonts/gilroy-extrabolditalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-heavyitalic.woff2") format("woff2"), url("../fonts/gilroy-heavyitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibolditalic.woff2") format("woff2"), url("../fonts/gilroy-semibolditalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-thinitalic.woff2") format("woff2"), url("../fonts/gilroy-thinitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-thin.woff2") format("woff2"), url("../fonts/gilroy-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-ultralight.woff2") format("woff2"), url("../fonts/gilroy-ultralight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regularitalic.woff2") format("woff2"), url("../fonts/gilroy-regularitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-ultralightitalic.woff2") format("woff2"), url("../fonts/gilroy-ultralightitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-black.woff2") format("woff2"), url("../fonts/gilroy-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

li {
  list-style-type: none;
}

img {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
}

body {
  font-family: Gilroy;
  font-weight: 500;
  color: #070707;
  font-size: 18px;
}

.wrapper {
  max-width: 944px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  top: 0;
  left: 0;
}

.header__container {
  padding-top: 33px;
}

.header__container .menu__language {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #070707;
  display: none;
}

.header__container .menu__language p span:first-child {
  color: #828282;
}

.header__container .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #828282;
  padding-bottom: 32px;
}

.header__container .menu__link {
  color: #828282;
  font-weight: 700;
  line-height: 22px;
}

.header__container .menu__link:hover {
  color: #070707;
  border-bottom: 1px solid #070707;
}

.header__container .menu__close {
  width: 26px;
  height: 26px;
  position: relative;
  display: none;
}

.header__container .menu__close div {
  background-color: #828282;
  height: 3.5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-10%, -50%);
      -ms-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}

.header__container .menu__close div:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__container .menu__close div:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__active .menu__list {
  border-bottom: 0;
}

.burger {
  width: 33px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  cursor: pointer;
}

.burger__line {
  height: 3px;
  background-color: #070707;
}

.burger:hover .burger__line {
  background-color: #828282;
}

.intro-me {
  margin: 128px 0 104px;
}

.intro-me__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 49px;
}

.intro-me__language {
  -webkit-transform: rotate(-90deg) translateX(35%);
      -ms-transform: rotate(-90deg) translateX(35%);
          transform: rotate(-90deg) translateX(35%);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #070707;
}

.intro-me__language p span:first-child {
  color: #828282;
}

.intro-me__name {
  font-size: 47px;
  line-height: 59px;
  max-width: 124px;
}

.intro-me__profession {
  line-height: 22px;
  max-width: 155px;
  color: #070707;
  font-size: 18px;
}

.intro-me__my-photo {
  display: inline-block;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 22%;
     object-position: 50% 22%;
}

.about-me {
  background-color: #F6F6F6;
  padding: 120px 0 107px 0;
}

.about-me__container {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}

.about-me__title {
  margin-bottom: 18px;
}

.about-me p {
  line-height: 22px;
  margin-bottom: 50px;
}

.about-me p a {
  text-decoration: underline;
  color: #070707;
}

.about-me p a:hover {
  color: #828282;
}

.about-me p:last-child {
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.skills {
  padding: 90px 0 110px;
}

.skills__title {
  margin-bottom: 69px;
}

.skills__sub-title {
  margin-bottom: 84px;
  text-align: center;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 166px;
          flex: 0 1 166px;
}

.skills__card-icon {
  margin-bottom: 23px;
}

.skills__card-icon img {
  height: 89px;
}

.skills__description {
  max-width: 500px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto 50px;
}

.skills__card-name {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  max-width: 63px;
  margin: 0 auto 43px;
}

.skills .star {
  font-size: 25px;
  border-radius: 10px;
}

.portfolio {
  background-color: #F6F6F6;
  padding: 112px 0 0;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio .project {
  padding-bottom: 100px;
}

.portfolio .project__link {
  text-align: center;
}

.portfolio .project__link a {
  color: #070707;
  line-height: 22px;
  text-decoration: underline;
}

.portfolio .project__link a:hover {
  color: #828282;
}

.portfolio .project__example img {
  margin-bottom: 45px;
  width: 100%;
  height: auto;
}

.footer {
  padding: 114px 0 123px;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__sub-title {
  line-height: 22px;
  max-width: 275px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer .button {
  border: 0;
  background-color: #070707;
  border-radius: 30px;
  margin-bottom: 85px;
  color: #FFF;
  line-height: 1;
  display: inline-block;
  border-radius: 30px;
  padding: 13px 30px;
}

.footer .button:hover,
.footer .button:focus,
.footer .button:active {
  background-color: #828282;
}

.footer .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 46px;
}

.footer .message__link img {
  width: 40px;
}

.footer__signature {
  max-width: 200px;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  color: #828282;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 0 29px;
  }

  .intro-me {
    margin: 65px 0 83px;
  }

  .intro-me__my-photo {
    margin: 0 auto;
    padding: 0;
  }

  .intro-me__language {
    display: none;
  }

  .header {
    height: 60px;
    z-index: 100;
  }

  .header__container {
    padding: 0;
  }

  .header__container .menu__list {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-color: #FFF;
    padding: 66px 28px;
  }

  .header__container .menu__list_active-js {
    left: 0;
  }

  .header__container .menu__language {
    font-size: 34px;
    line-height: 42px;
    display: block;
    position: absolute;
    bottom: 66px;
    right: -30px;
  }

  .header__container .menu__item {
    width: auto;
    margin-bottom: 68px;
    font-size: 34px;
    line-height: 42px;
  }

  .header__container .menu__item:last-child {
    margin-bottom: 0;
  }

  .header__container .menu__close {
    display: block;
    position: absolute;
    right: 28px;
    top: 66px;
  }

  .header__container .menu__close:hover .close__line {
    background-color: #070707;
  }

  .header__container .menu .burger {
    position: absolute;
    top: 65px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__container .menu .burger__active {
    top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .intro-me__text {
    display: block;
    margin-bottom: 37px;
  }

  .intro-me__name {
    margin-bottom: 23px;
  }

  .portfolio {
    padding: 81px 0 0;
  }

  .about-me {
    padding: 81px 0 76px;
  }

  .skills {
    padding: 83px 0 99px;
  }

  .skills__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .skills__card:nth-child(-n+2) {
    margin: 0 0 80px;
  }

  .skills__card:last-child {
    margin-bottom: 0;
  }

  .footer {
    padding: 81px 0 90px;
    text-align: center;
  }

  .footer__signature {
    font-size: 16px;
    max-width: 315px;
  }
}

@media screen and (max-width: 480px) {
  .skills__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 80px;
  }

  .project {
    padding-bottom: 78px;
  }

  .project__example img {
    margin-bottom: 33px;
  }

  .footer .button {
    margin-bottom: 48px;
  }

  .footer .button a {
    cursor: pointer;
  }

  .footer .message {
    margin: 0 0 49px;
    padding: 0 30px;
    text-align: center;
    max-width: 100%;
  }
}